.box {
  width: 80%;
  height: 70%;
  background: #fff;
  border-radius: 10px;
  padding-bottom: 2rem;
  padding-top: 60px;
  position: relative;
}
.write-component-container {
  padding: 0rem 1rem;
}

@media (max-width: 500px) {
  .box {
    width: 90%;
  }
}

.reset-button {
  position: absolute;
  top: -40px;
  right: 0px;
}
.reset-button > img {
  height: 2rem;
  width: auto;
  cursor: pointer;
}
